{% macro displayNewsList(news_list) %} 
{% for news in news_list %}

    <div class="row" style="padding-bottom: 5%">
        <div class="col-md-5">
            <img src="{{news.urlToImage}}" alt="{{news.title}}" class="img-responsive">
        </div>
        <br><br>
        <div class="col-mid-5 offset-mid-1">
            <h3>{{news.title}}</h3>
            <p>{{news.id}}</p>
            <p>{{news.description}}</p>
            <span style="color: dodgerblue"><a href="{{news.url}}" target ="_blank">Read More...</a></span>
            <p>{{news.author}}</p>
            <p>{{news.publishedAt}}</p>
        </div>
    </div>
    

{% endfor %} {% endmacro %}